h1{ /*select any H1 tag in ejs file*/
    color: red; /*change text color to red*/
}/*close selector*/
.completed{ /*select item with class of completed*/
    color: gray; /*change text color to gray*/
    text-decoration: line-through; /*apply strike through to text*/
}/*close selector*/