/*select H1*/
h1{
    /*set color as red*/
    color: red;
}
/*select class completed*/
.completed{
    /*set color as gray*/
    color: gray;
    /*strike through the text*/
    text-decoration: line-through;
}